<div class="outer">
  <div class="inner">
    <div class="pagination-container"><%= will_paginate inner_window: 0, outer_window: 0 %></div>
    <ul class="paginated-list">
      <% @users.each do |user| %>
        <li>
          <h3><%= link_to user.name, user %></h3>
          <p>Facebook User ID: <%= user.uid %></p>
          <p>App User ID: <%= user.id %></p>
          <h4><%= link_to "Delete", user, method: "delete" %></h4>
        </li>
      <% end %>
    </ul>
    <div class="pagination-container"><%= will_paginate inner_window: 0, outer_window: 0 %></div>
  </div>
</div>