<div class="outer">
  <div class="inner">
    <div class="pagination-container"><%= will_paginate %></div>
    <ul class="paginated-list">
      <% @games.each do |game| %>
        <li>
          <h3><%= link_to "#{game.puzzle.difficulty.capitalize} Game", game %></h3>
          <p>Last played <%= time_ago_in_words game.last_played_at %> ago.</p>
          <p><%= game.completed_at ? "Solved in #{distance_of_time_in_words(game.completed_at - game.created_at) }." : "This game is unfishished, a terrible shame." %></p>
          <h5><%= link_to "(Delete)", game, method: "delete", data: { confirm: "Delete this game?" } %></h5>
        </li>
      <% end %>
      <% if @games.length == 0 %>
        <h3>No games to display...</h3>
      <% end %>
    </ul>
    <div class="pagination-container"><%= will_paginate %></div>
  </div>
</div>