<div class="outer unselectable puzzle-outer">
    <div class="inner puzzle-inner">
        <div id="game-<%= @game.id %>" class="puzzle scaled-container">
            
        <% 81.times do |i|
            square_state = @board_state[i.to_s]
        %>
            <div id="<%= "square-#{i}" %>" class="<%= square_state["classes"] %>">
                <span class="square-text"><%= square_state["text"] %></span>
                <div class="pencil-container">
                <% (1..9).each do |j| 
                    this_num = j.to_s
                    pencil_mark = ""
                    pencil_mark = j if square_state["pencilMarks"].include? this_num
                %>
                    <span class="pencil-text pencil-<%= j %>"><%= pencil_mark %></span>
                <% end %>
                </div>
            </div>
            
        <% end %>
        
        </div>
    </div>
</div>

<div class="outer controls-outer unselectable">
    <div class="inner controls-inner">
        <div class="controls scaled-container">
            
            <div id="pen" class="control tool active">
                <div class="image-container image-pen"></div>
            </div>
            
            <div id="pencil" class="control tool">
                <div class="image-container image-pencil"></div>
            </div>
            
            <div id="eraser"  class="control tool eraser">
                <div class="image-container image-eraser"></div>
            </div>
            
            <div id="redHighlighter" class="control tool hi-lighter">
                <div class="image-container image-highlighter image-red-highlighter"></div>
            </div>
            
            <div id="blueHighlighter"  class="control tool hi-lighter">
                <div class="image-container image-highlighter image-blue-highlighter"></div>
            </div>
            
            <% (1..9).each do |i|%>
            <div id="num-select-<%= i %>" class="control num-select">
                <span class="square-text num-select-text"><%= i  %></span>
            </div>
            <% end %>
            
        </div>
    </div>
</div>

<div style="display:none" class="sloppy-preload">
    <%= image_tag "active-red-highlighter.png" %>
    <%= image_tag "active-blue-highlighter.png" %>
    <%= image_tag "active-pen.png" %>
    <%= image_tag "inactive-pen.png" %>
    <%= image_tag "active-pencil.png" %>
    <%= image_tag "active-eraser.png" %>
</div>