<div class="outer">
  <div class="inner">
    <div class="pagination-container"><%= will_paginate inner_window: 0, outer_window: 0, previous_label: '←', next_label: '→'  %></div>
    <ul class="paginated-list">
      <% @puzzles.each do |puzzle| %>
        <li>
          <h3><%= link_to "Puzzle ##{puzzle.id}", puzzle %></h3>
          <p>Board: <%= truncate puzzle.board, length: 15 %></p>
          <p>Rating: <%= puzzle.rating.capitalize %></p>
          <p>Difficulty: <%= puzzle.difficulty.capitalize %></p>
          <h4><%= link_to "Delete", puzzle, method: "delete" %></h4>
        </li>
      <% end %>
    </ul>
    <div class="pagination-container"><%= will_paginate inner_window: 0, outer_window: 0, previous_label: '←', next_label: '→'  %></div>
  </div>
</div>