<div class="outer">
  <div class="inner form-container">
    <div class="pagination-container"><%= will_paginate %></div>
    <ul class="paginated-list">
      <% @puzzles.each do |puzzle| %>
        <li>
          <h3><%= link_to "Puzzle ##{puzzle.id}", puzzle %></h3>
          <p>Board: <%= truncate puzzle.board, length: 15 %></p>
          <p>Rating: <%= puzzle.rating %></p>
          <p>Difficulty: <%= puzzle.difficulty %></p>
          <h4><%= link_to "Delete", puzzle, method: "delete" %></h4>
        </li>
      <% end %>
    </ul>
    <div class="pagination-container"><%= will_paginate %></div>
  </div>
</div>