
<div class="outer">
  <div class="inner">

    <%= form_for(@puzzle) do |f| %>
      
      <%= render 'shared/error_messages' %>

      <%= f.label :board, "Board" %>
      <%= f.text_field :board, class: 'form-control' %>

      <%= f.label :solution, "Solution" %>
      <%= f.text_field :solution, class: 'form-control' %>
      
      <center>
        <%= f.submit "Create a new puzzle", class: "btn btn-primary" %>
      </center>
    <% end %>

  </div>
</div>