
<div class="outer">
  <div class="inner">
    <center>
    <%= form_for(@puzzle) do |f| %>
      
      <%= render 'shared/error_messages' %>
    
      <%= f.label :board, "Board, (an 81 character numeric string with zeroes for blanks)" %></br>
      <%= f.text_field :board %></br>
      
      <%= f.label :difficulty, "Difficulty, (a string: easy, middling or tough)" %></br>
      <%= f.text_field :difficulty %></br>
            
      <%= f.label :rating, "Rating, (an integer: 1-5)" %></br>
      <%= f.text_field :rating %></br>
      
      <%= f.submit "Create a new puzzle", class: "btn btn-primary" %>
    <% end %>
    </center>
  </div>
</div>